*{margin: 0; padding: 0;}
.bg00{ width: 99vw;
        height: 99vh;
        background-size: cover; 
        background-position: center;
       background-attachment: fixed;
       display: flex;
       justify-content: center;
       align-items: center;
    }

.bg01{background-image: url(img/bg01.png);}
.bg02{background-image: url(img/bg02.png);}
.bg03{background-image: url(img/bg03.png);}
.bg04{background-image: url(img/bg04.png);}

.cont00{background-position: center;}

.cont03{width:1659px; height: 955px; background-image: url(img/cont3.png);}